<section class="m20">
  <table class="table m10">
      <thead>
        <tr>
          <th *ngFor="let tableHeading of tableHeadings" scope="col"> {{ tableHeading }} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableData">
          <td> {{ data.name }} </td>
          <td> {{ data.capital }} </td>
          <td> {{ data.population }} </td>
          <td> <div *ngFor="let currency of data.currencies">{{ currency.name }}</div> </td>
          <td> <img [src]="data.flag" width="25px" height="15px" alt="flag" /> </td>
        </tr>
      </tbody>
  </table>
</section>